name: Generate GitHub Stats

on:
    schedule:
        - cron: "0 1 * * *"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Create assets directory
              run: mkdir -p assets

            - name: Download GitHub stats
              run: |
                  curl -o assets/stats.svg "https://github-readme-stats.vercel.app/api?username=Ajinkya-Nagarkar&show_icons=true&theme=tokyonight&hide_border=true"
                  curl -o assets/top-langs.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=Ajinkya-Nagarkar&layout=compact&theme=tokyonight&hide_border=true"

            - name: Commit stats
              run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com
                  git add assets
                  git commit -m "Update GitHub stats" || echo "No changes"
                  git push