name: Generate GitHub Stats

on:
    schedule:
        - cron: "0 1 * * *"
    workflow_dispatch:

jobs:
    stats:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Generate stats
              uses: anuraghazra/github-readme-stats@master
              with:
                  username: Ajinkya-Nagarkar
                  theme: tokyonight
                  show_icons: true
                  hide_border: true
                  output: stats.svg

            - name: Generate top languages
              uses: anuraghazra/github-readme-stats@master
              with:
                  username: Ajinkya-Nagarkar
                  layout: compact
                  theme: tokyonight
                  hide_border: true
                  output: top-langs.svg

            - name: Commit stats
              run: |
                  mkdir -p assets
                  mv stats.svg assets/stats.svg
                  mv top-langs.svg assets/top-langs.svg
                  git config user.name github-actions
                  git config user.email github-actions@github.com
                  git add assets
                  git commit -m "Update GitHub stats" || echo "No changes"
                  git push
